<h1>Song Recommedantion</h1>

<hr>
Here is the list of recommended songs:
<pre style="border:thin solid black"><%= response %></pre>
<hr>
<div>
    <a class="navButton" href="/songs">Recommendation for other Singers</a>
</div>
<br>
<div>
    <a class="navButton" href="/">Back</a>
</div>