<!DOCTYPE html>
<html>

<head>
    <title>Song Recommendation</title>
</head>

<body>
    <h1>Song Recommendation</h1>
    <p class="lead">Recommend songs for certain singer! </p>
    <form method="post"  action="/songs">
        <label for="singnername">Enter the singer name:</label><br>
        <textarea name="singername" id="singername" cols="20" rows="5"></textarea><br><br>
        <input type="submit" value="List songs">
    </form>
</body>

</html>
